.form-container{
    border: 5px solid transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 340px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input{
    padding: 5px 15px;
    margin-bottom: 5px;
    border: none;
    font-size: 30px;
    font-weight: bold;

}
textarea{
    padding: 5px 15px;
    margin-bottom: 5px;
    border: none;
    font-size: 20px;
}
input:focus{
    border: none;
    outline: none;

}
textarea:focus{
    border: none;
    outline: none;
}

.button{

    margin-top: 15px;
    width: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #03A6FF;
    color: white;
    border-radius: 6px;
    padding: 5px;

}

.backbtn{
    display: block;
    position: fixed;
    left: 85%;
    bottom: 91%;
    background-color: #03A6FF;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #03A6FF;
    padding: 5px 15px;
}
.backbtn:hover{

    background-color: white;
    color: black;

}


@media only screen and (max-width: 600px){

    .backbtn{
        display: block;
        position: fixed;
        left: 70%;
        bottom: 91%;
        color: white;
        text-decoration: none;
        border: 2px solid #03A6FF;
        padding: 3px 12px;
        border-radius: 15px;
        background-color: #03A6FF;

    }

    .backbtn:hover{

        background-color: white;
        color: black;

    }
    
}